<form action='/lists/<%= @list_id %>' method='post'>
  <dl>
    <dt>
      <label for='list_name'>Change the name for your list:</label>
    </dt>
    <dd>
      <input name='list_name' type='test' value='<%= params[:list_name] || @list[:name] %>'>
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value='Save'>
    <a href='/lists/<%= @list_id %>'>Cancel</a>
  </fieldset>
</form>

  <% content_for :header_link do %>
    <a href='/lists'>All Lists</a>
  <% end %>