<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header>
      <h1><a href='/'>Todo Tracker</a></h1>
    </header>
    <main>
      <% @flash_message_keys.each do |message_key| %>
        <% if session[message_key] %>
          <div class='flash <%= message_key.to_s %>'>
            <%= session.delete(message_key) %>
          </div>
          <% break %>
        <% end %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
