<ul id='lists'>
  <% @lists.each.with_index do |list, id| %>
  <li>
    <a href='/lists/<%= id %>'>
      <%= list[:name] %><p><%= list[:todos].size %></p>
    </a>
  </li>
  <% end %>
</ul>

<% content_for :header_link do %>
  <a href='/lists/new'>New List</a>
<% end %>