<form action='/lists' method='post'>
  <dl>
    <dt>
      <label for='list_name'>Enter the name for yuour new list:</label>
    </dt>
    <dd>
      <input name='list_name' placeholder='List Name' type='test' value=''>
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value='Save'>
    <a href='/'>Cancel</a>
  </fieldset>
</form>

  <% content_for :header_link do %>
    <a href='/lists'>All Lists</a>
  <% end %>